/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

#AnchorPane{
    -fx-background-image: url('../img/car.jpg');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

#input_email{
    -fx-border-radius: 25px;
}

#btn_login{
    -fx-background-color: red;
    -fx-background-color: rgba(0,0,0,0);
    
    -fx-background-radius: 50px;
    
    -fx-border-radius: 50px;
    -fx-border-width: 1px;
    -fx-border-color: black;
    
}
