/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

#paneAjout{
    -fx-background-image: url('../img/karhabty1.jpg');
    -fx-background-repeat: stretch;   
    -fx-background-size: 900 506;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}

#AnchorPane{
    -fx-background-image: url('../img/karhabty1.jpg');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}
